<a href="https://colab.research.google.com/github/MHuzaifaYounus/Quarter_3/blob/master/project6_OOPs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1 Using self**

In [ ]:
class Student:
  def __init__(self,name,marks):
    self.name = name
    self.marks = marks

  def display(self):
    print(f"Student Name: {self.name} , Student Marks: {self.marks}")
student = Student("Ahmed", 444)
student.display()

Student Name: Ahmed , Student Marks: 444

# **2 Using CLs**

In [ ]:
class Counter:
    count = 0
    @classmethod
    def __init__(cls):
        cls.count += 1
        print(cls.count)

class1 = Counter()
class2 = Counter()
class3 = Counter()

1
2
3

# **3 Public Variables and Methods**

In [ ]:
class Car:
    def __init__(self, brand):
        self.brand = brand
    def start(self):
        print(f"Starting Your {self.brand}")


car1 = Car("Toyota")
car1.start()

Starting Your Toyota

# **4 Class Variables and Class Methods**

In [ ]:
class Bank:
    bank_name = "Bank of Karachi"
    @classmethod
    def change_bank_name(cls, new_name):
        cls.bank_name = new_name


bank1 = Bank()
bank2 = Bank()
bank3 = Bank()
bank1.change_bank_name("Bank of Pakistan")
bank2.change_bank_name("Bank of Sindh")


print(bank1.bank_name)
print(bank2.bank_name)
print(bank3.bank_name)

Bank of Sindh
Bank of Sindh
Bank of Sindh

# **5. Static Variables and Static Methods**

In [ ]:
class MathUtils:
  @staticmethod
  def add(a,b):
    return a + b

result = MathUtils.add(10,20)
print(result)

30

# **6.Constructors and Destructors**

In [ ]:
class Logger:
  def __init__(self):
    print("Object Created!")
  def __del__(self):
    print("Object Destroyed!")

logger = Logger()
del logger

Object Created!
Object Destroyed!

# **7. Access Modifiers: Public, Private, and Protected**

In [ ]:
class Employ:
  def __init__(self , name , salary , ssn):
    self.name = name
    self._salary = salary
    self.__ssn = ssn

employ = Employ("Ahmed" , 100000 , 123456789)
print(employ.name)
print(employ._salary)
print(employ._Employ__ssn)

Ahmed
100000
123456789

# **8. The super() Function**

In [ ]:

class Person():
  def __init__(self , name):
    self.name = name
class Teacher(Person):
  def __init__(self , name , subject):
    super().__init__(name)
    self.subject = subject

teacher = Teacher("Ahmed" , "Math")
print(teacher.name)
print(teacher.subject)

Ahmed
Math

# **9. Abstract Classes and Methods**

In [ ]:
from abc import abstractmethod , ABC
class Shape(ABC):
  @abstractmethod
  def area(self):
    pass
class Rectangle(Shape):
  def __init__(self , length , width):
    self.length = length
    self.width = width
  def area(self):
    return self.length * self.width

rectangle = Rectangle(10 , 20)
print(rectangle.area())

200

# **10. Instance Methods**

In [ ]:
class Dog:
  def __init__(self , name , breed):
    self.name = name
    self.breed = breed
  def bark(self):
    print(f"{self.name} is barking!")

dog1 = Dog("Buddy","German Sheferd")
dog1.bark()

Buddy is barking!

# **11. Class Methods**

In [ ]:
class Book:
  total_books = 0
  @classmethod
  def increment_book_count(cls):
    cls.total_books += 1
book1 = Book()
book1.increment_book_count()
print(Book.total_books)

1

# **# 12.Static methods**

In [ ]:
class TemperatureConverter:
  @staticmethod
  def celsius_to_fahrenheit(celsius_temp):
    return (celsius_temp * 9/5) + 32

converter = TemperatureConverter()
fahrenheit_temp = converter.celsius_to_fahrenheit(-40)
print(fahrenheit_temp)

-40.0

# **13.Composition**

In [ ]:
class Engine:
  def start(self):
    print("Engine started!")

class Car:
  def __init__(self):
    self.engine = Engine()
  def start_engine(self):
    self.engine.start()


car = Car()
car.start_engine()

Engine started!

# **14.Agregation**

In [ ]:
class Employ:
  def __init__(self,name):
    self.name = name

class Department:
  def __init__(self):
    self.employs = []
  def add_employ(self , employ):
    self.employs.append(employ)

department = Department()
employ1 = Employ("Ahmed")
employ2 = Employ("Ali")
department.add_employ(employ1)
department.add_employ(employ2)

# **15. Method Resolution Order (MRO) and Diamond Inheritance**

In [ ]:
class A:
  def show(self):
    print("This is a secret")
class B(A):
  def show(self):
    print("This is a story")
class C(A):
  def show(self):
    print("This is a Game")
class D(B,C):
  pass
d = D()
d.show()

This is a story

# **16. Function Decorators**

In [6]:

def log_function_call(original_function):
  def wrapper():
    print("Function is being called")
    original_function()
  return wrapper

@log_function_call
def say_hello():
    print("Hello!")

say_hello()

Function is being called
Hello!

# **17. Class Decorator**

In [8]:
def add_greeting(cls):
  def greet(self):
    return "Hello from decorator!"
  cls.greet = greet
  return cls

@add_greeting
class Person:
  def __init__(self , name):
    self.name = name

person = Person("Ahmed")
print(person.greet())

Hello from decorator!

# 18.Property Decorators

In [26]:
class Product:
    def __init__(self, price):
        self.__price = price
    @property
    def price(self):
      return self.__price
    @price.setter
    def price(self, new_price):
      self.__price = new_price
    @price.deleter
    def price(self):
      print("price deleted!")
      del self.__price


p = Product(90)
p.price = 100
print(p.price)
del p.price

100
price deleted!

# **19. Callable and _call_**

In [33]:
class Multiplier:
  def __init__(self, factor):
    self.factor = factor
  def __call__(self,inp):
    return inp * self.factor

obj = Multiplier(5)
print(callable(obj))
obj(9)

True

45

# **20.Creating a custom Exception**

In [35]:
class InvalidAgeError(Exception):
  def __init__(self,age):
    super().__init__(f"Invalid Age: {age}. Age must be greater than or equal to 18.")

def checkAge(age):
  try:
    if age >= 18:
      print("You are eligible for ID card")
    else:
      raise InvalidAgeError(age)
  except InvalidAgeError as e:
    print(e)

checkAge(17)

Invalid Age: 17. Age must be greater than or equal to 18.

# 21.Make a custom Class Iterable

In [36]:
from collections.abc import Iterable , Iterator
class CountDown(Iterable):
  def __init__(self , start):
    self.start = start
  def __iter__(self):
    return CountDownIterator(self.start)
class CountDownIterator(Iterator):
  def __init__(self,start):
    self.start = start
  def __next__(self):
    if self.start == 0:
      raise StopIteration
    else:
      self.start -= 1
    return self.start
count = CountDown(5)
for i in count:
  print(i)

4
3
2
1
0